---

---

<footer class="footer-gradient text-neutral-200 font-semibold text-lg">
    <p class="copy py-4 mt-8 text-center text-balance w-full">Desarrollado por <a class="hover:underline" href="https://portafolio-nico-alvarado.netlify.app/es/">Nico</a>, el codigo disponible en <a class="hover:underline" href="https://github.com/NicoAlvarado10/NicoBlog.git">Github</a></p>
</footer>

<style>
    .copy{
        border-top: 1px solid #d9d7d7;
       
    }
    .footer-gradient {
      background: linear-gradient(to top, #0e0e0f 0%, #15171a 25%, #000000 100%);
    
    }
</style>