---

---

<footer class="flex justify-center items-center flex-col">
    <div class="grid grid-cols-2 gap-5 justify-between items-center ">
        <div class=" w-1/2 m-auto">
            <h3>NicoBlog</h3>
            <p>Tips, consejos y recursos para convertirte en un experto en desarrollo frontend y diseño UX/UI.</p>
        </div>
        <div class="  w-1/2 m-auto">
            <h3>Desarrollado por <a class="hover:underline" href="https://portafolio-nico-alvarado.netlify.app/es/">Nico</a></h3>
        </div>
    </div>

    <p class="copy py-2 mt-4 text-center w-full">El codigo disponible en <a href="https://github.com/NicoAlvarado10/NicoBlog.git">Github</a></p>
</footer>

<style>
    .copy{
        border-top: 1px solid #000;
       
    }
</style>