---

---

<footer class="">
    <p class="copy py-4 mt-8 text-center w-full">Desarrollado por <a class="hover:underline" href="https://portafolio-nico-alvarado.netlify.app/es/">Nico</a>, el codigo disponible en <a class="hover:underline" href="https://github.com/NicoAlvarado10/NicoBlog.git">Github</a></p>
</footer>

<style>
    .copy{
        border-top: 1px solid #000;
       
    }
</style>