---

---
<nav class="flex max-w-6xl m-auto justify-between py-8">
	<a href="#">NicoBlog</a>
	<ul class="flex justify-center items-center gap-6">
		<li><a href="/">Inicio</a></li>
		<li><a href="#articulos">Artículos</a></li>
		<li><a href="/about">Acerca de</a></li>
		<li><a href="https://portafolio-nico-alvarado.netlify.app/es/">Contacto</a></li>
	</ul>
</nav>