---
---
<section class="category-gradient flex justify-center items-center flex-col py-20 max-xl:px-6 max-md:px-0 max-md:pt-0">
    <h2 class="text-4xl font-semibold text-white text-center">Nuestras Categorías</h2>
    <div class="grid grid-cols-2 max-w-6xl m-auto mt-24 max-sm:mt-12 gap-12 max-md:grid-cols-1 max-md:w-10/12">
        <article class="category-1 bg-neutral-300 px-6 py-6 rounded-2xl shadow-category1">
            <h3 class="text-2xl font-semibold ">Desarrollo Frontend <i class="ri-code-s-slash-line text-3xl"></i></h3>
            <p class="mb-6 mt-3 text-neutral-950">Aprende las últimas tecnologías y frameworks para crear interfaces web impresionantes.</p>
            <a class="text-white py-2 px-4 rounded-lg bg-neutral-900 hover:bg-neutral-800 font-semibold transition duration-200" href="#">Explorar <i class="ri-arrow-right-line"></i></a>
        </article>
        <article class="category-2 bg-neutral-300 px-6 py-6 rounded-2xl shadow-category2">
            <h3 class="text-2xl font-semibold">Diseño UX/UI <i class="ri-palette-line text-3xl"></i></h3>
            <p class="mb-6 mt-3  text-neutral-950">Descubre principios de diseño y herramientas para crear interfaces atractivas y funcionales. Mejorando la experiencia del usuario con las estrategias y mejores prácticas.</p>
            <a class="text-white font-semibold py-2 px-4 rounded-lg bg-neutral-900 hover:bg-neutral-800 transition duration-200" href="#">Explorar <i class="ri-arrow-right-line"></i></a>
        </article>
    </div>
</section>

<style>
    .category-gradient {
        background: linear-gradient(to bottom, #2c3e50, #1c2833, #0a0a0a);
    }
    
    .category-1 {
  box-shadow: 0 -5px 10px -5px #81a9ea;

  background: linear-gradient(to bottom, #97c0ea, #92b0cd, #9b9999);
}

.category-2 {
  box-shadow: 0 -5px 10px -5px #81a9ea;
  
  background: linear-gradient(to bottom, #97c0ea, #92b0cd, #9b9999);
}

</style>
