---

---
<section class="hero-gradient flex flex-col justify-center items-center py-24 text-white max-xl:pt-40 pt-60">
    <span class="bg-slate-600 py-2 px-4 rounded-3xl mb-6 text-xs font-bold -tracking-tighter">Bienvenido a NicoBlog</span>
    <h1 class="text-5xl font-semibold mb-5 max-md:text-4xl text-center">Explora el Mundo del Frontend y UX/UI</h1>
    <p class="text-lg text-neutral-300 text-balance text-center max-sm:px-3">Tips, consejos y recursos para convertirte en un experto en desarrollo frontend y diseño UX/UI.</p>
    <form class="mt-8 flex justify-center gap-2 max-sm:flex-col" action="/">
        <input placeholder="Tu correo electronico" class=" py-2 px-4 rounded-md" type="email">
        <button class="bg-neutral-950 py-2 px-4 rounded-md text-white font-semibold transition duration-150 hover:bg-neutral-900" type="submit">Suscribirse</button>
    </form>
    
</section>

<style>
    input{
        border: 1px solid #202020
    }
    .hero-gradient {
        background: linear-gradient(to top, #2c3e50, #1c2833, #0a0a0a);
    }
</style>